<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%- authors.get(appeal.author) %></strong>
          <br>
          <b>Reason: </b><%= appeal.reason %>
          <br>
          <b>Additional information: </b><%= appeal.additional %>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="delete">
            <a href="?unban=<%- i %>" class="button">Accept and unban</a>
            <a href="?delete=<%- i %>" class="button">Delete</a>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>