<style>.subtitle {text-align:left;float:left;}</style>
<h1 class="title">Welcome system</h1>
<form id="welcomeform">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h2 class="subtitle" >Welcome message</h2>
    <div class="control">
        <input id="WM-E" type="radio" name="system" value="true" <% if(data.enabled) { %> checked <% } %>>
        <label for="WM-E" class="radio">Enabled</label>
        <input id="WM-D" type="radio" name="system" value="false" <% if(!data.enabled) { %> checked <% } %>>
        <label for="WM-D" class="radio">Disabled</label>
    </div>
    <br>
    <h2 class="subtitle" >Welcome text</h2>
    <textarea class="textarea" type="text" name="welcometext" required><%= data.text %></textarea>
    <br>
    <br>
    <label class="subtitle" for="welcomechannel">Welcome channel</label>
    <div class="select is-medium">
        <select id="welcomechannel" name="welcomechannel">
            <% textChannels.forEach(channel => { %>
            <option value="<%= channel.id %>" <% if(channel.id === data.channelID) { %> selected <% } %>>
                <%= antixss(channel.name) %>
            </option>
            <% }); %>
        </select>
    </div>
    <br>
    <br>
    <h2 class="subtitle" >DM welcome message</h2>
    <div class="control">
        <input id="DM-E" type="radio" name="dmsystem" value="true" <% if(data.dmenabled) { %> checked <% } %>>
        <label for="DM-E" class="radio">Enabled</label>
        <input id="DM-D" type="radio" name="dmsystem" value="false" <% if(!data.dmenabled) { %> checked <% } %>>
        <label for="DM-D" class="radio">Disabled</label>
    </div>
    <br>
    <h2 class="subtitle" >DM welcome text</h2>
    <textarea class="textarea" type="text" name="dmtext" required><%= data.dmtext %></textarea>
    <br>
    <br>
    <h2 class="subtitle" >Goodbye message</h2>
    <div class="control">
        <input id="LM-E" type="radio" name="leavesystem" value="true" <% if(data.leaveenabled) { %> checked <% } %>>
        <label for="LM-E" class="radio">Enabled</label>
        <input id="LM-D" type="radio" name="leavesystem" value="false" <% if(!data.leaveenabled) { %> checked <% } %>>
        <label for="LM-D" class="radio">Disabled</label>
    </div>
    <br>
    <h2 class="subtitle" >Goodbye text</h2>
    <textarea class="textarea" type="text" name="leavetext" required><%= data.leavetext %></textarea>
    <br><br>
    <label class="subtitle" for="leavechannel">Goodbye channel</label>
    <div class="select is-medium">
        <select id="leavechannel" name="leavechannel">
            <% textChannels.forEach(channel => { %>
            <option value="<%= channel.id %>" <% if(channel.id === data.leavechannelID) { %> selected <% } %>>
                <%= antixss(channel.name) %></option>
            <% }); %>
        </select>
    </div>
    <br>
    <br>
    <span id="WS-Span" class="form-span"></span>
    <br>
    <button type="submit" id="WS-Submit" class="button" style="float: left;">Save</button>
</form>
<script src="/events/welcome.js"></script>