<%- include('partials/header') -%>
<body class="background2">
<%- include('partials/nav') -%>
  <div>
    <h1 class="title" style="color: #363636;margin-top: 15px; text-align: center; margin-bottom: 15px">Birthday cards for Wubbzy! (<%= year %>)</h1>
  </div>
  <div style="margin-left: 20px; margin-right: 20px">
<% if(cards.length) { %>
    <% cards.forEach((card, i) => { %>
    <%- include('partials/card', { card, i, authors, admin: false }) -%>
<% }) %>
    <% } else { %>
    <h2 style="text-align: center;">
      Nothing yet, sad face :(
    </h2>
    <% } %>
  </div>
<%- include('partials/footer') -%>