<%- include('partials/header') -%>
<body>
<%- include('partials/nav') -%>
  <h1 class="title" style="text-align: center; font-size: 3em">
    <strong>Select a server</strong>
  </h1>
  <% toshow.forEach(guild => { %>
  <div class="box-guild">
    <%- include('partials/d0', { guild }) -%>
  </div>
  <% }) %>
  <% adminguilds.forEach(guild => { %>
    <% if(toshow.find(e => guild.id === e.id)) return; %>
  <div class="box-guild">
    <%- include('partials/d0', { guild }) -%>
  </div>
  <% }) %>

<%- include('partials/footer') -%>